*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b1220;
color:white;
overflow-x:hidden;
}

/* PARTICLES */
#particles{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
position:fixed;
width:100%;
top:0;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
color:#38bdf8;
font-size:28px;
font-weight:700;
}

.nav-links{
display:flex;
list-style:none;
gap:25px;
}

.nav-links a{
color:white;
text-decoration:none;
}

/* HERO */
.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:140px 10%;
min-height:100vh;
}

.hero-text h1{
font-size:55px;
}

.hero-text span{
color:#38bdf8;
}

.hero-buttons{
    margin-top:20px;
    display:flex;
    gap:15px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.btn, .btn-outline{
padding:12px 20px;
border-radius:10px;
text-decoration:none;
font-weight:600;
}

.btn{
background:#38bdf8;
color:black;
}

.btn-outline{
border:2px solid #38bdf8;
color:#38bdf8;
}

/* SECTIONS */
.section{
padding:100px 10%;
text-align:center;
}

.dark{
background:#111827;
}

h2{
color:#38bdf8;
margin-bottom:30px;
}

/* CARDS */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.box, .card{
background:linear-gradient(145deg,#0b1220,#0f1b33);
border:1px solid rgba(56,189,248,0.15);
padding:20px;
border-radius:15px;
transition:0.3s;
}

.box:hover, .card:hover{
transform:translateY(-8px);
box-shadow:0 15px 35px rgba(56,189,248,0.2);
}

/* PROJECT BUTTONS */
.project-links{
margin-top:10px;
display:flex;
gap:10px;
}

.small-btn{
padding:8px 12px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:600;
}

.small-btn:hover{
background:white;
}

/* CONTACT */
.contact-form{
max-width:500px;
margin:auto;
}

.contact-form input,
.contact-form textarea{
width:100%;
padding:15px;
margin-bottom:10px;
border:none;
border-radius:10px;
}

button{
padding:12px 20px;
background:#38bdf8;
border:none;
color:black;
border-radius:10px;
cursor:pointer;
font-weight:600;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#020617;
}

.footer-socials a{
color:#38bdf8;
margin:0 10px;
font-size:20px;
}
.hero-img img{
    width:280px;
    height:280px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

/* MOBILE */
@media(max-width:768px){

.hero{
flex-direction:column-reverse;
text-align:center;
}
.hero-buttons{
    justify-content:center;
}

.hero-text h1{
font-size:35px;
}

.nav-links{
display:none;
}
.hero-img img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #38bdf8;
}
}